@use "../global" as *;

.l-inner {
  max-width: rem(600);
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}
.l-wide-inner {
  max-width: rem(1340);
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  width: 100%;
  @include mq("md") {
    padding-left: $padding-pc;
    padding-right: $padding-pc;
  }
}