@use "../global" as *;

.p-footer {
  background-color: #000;
  color: #fff;
  padding-top: rem(29);

  @include mq(md) {
    padding-top: rem(40);
  }
}

.p-footer__inner {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: rem(1280);
  padding-left: rem(28);
  padding-right: rem(28);
  padding-bottom: rem(27);

  @include mq(md) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    padding-left: rem(40);
    padding-right: rem(40);
    padding-bottom: rem(72);
  }
}

.p-footer__brand {
  margin-top: rem(26);
  order: 2;

  @include mq(md) {
    flex-shrink: 0;
    margin-top: 0;
    order: 1;
    width: rem(320);
  }
}

.p-footer__logo {
  display: block;
  text-decoration: none;
  width: rem(162);

  @include mq(md) {
    width: rem(272);
  }
}

.p-footer__logo img {
  display: block;
  height: auto;
  width: 100%;
}

.p-footer__address {
  font-size: rem(10);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  margin-top: rem(6);

  @include mq(md) {
    font-size: rem(15);
    margin-top: rem(26);
  }
}

.p-footer__address-line {
  display: block;
}

.p-footer__tel {
  color: #fff;
  text-decoration: none;
}

.p-footer__nav-wrap {
  margin-top: 0;
  order: 1;

  @include mq(md) {
    display: flex;
    margin-left: rem(40);
    margin-top: rem(4);
    order: 2;
  }
}

.p-footer__nav {
  list-style: none;

  @include mq(md) {
    width: rem(230);
  }
}

.p-footer__nav + .p-footer__nav {
  margin-top: rem(14);

  @include mq(md) {
    margin-left: rem(34);
    margin-top: 0;
  }
}

.p-footer__nav-item + .p-footer__nav-item {
  margin-top: 0;
  @include mq(md){
   margin-top: rem(12); 
  }
}

.p-footer__nav-link {
  color: #fff;
  display: inline-block;
  font-size: rem(10);
  font-weight: 500;
  line-height: 2.6;
  padding-left: rem(12);
  position: relative;
  text-decoration: none;
  text-shadow: rem(2) rem(2) rem(3) rgba(0, 0, 0, 0.5);

  @include mq(md) {
    font-size: rem(14);
    line-height: 1.8;
  }
}

.p-footer__nav-link::before {
  content: ">";
  left: 0;
  position: absolute;
  top: 0;
}

.p-footer__copy {
  align-items: center;
  background-color: #535353;
  display: flex;
  justify-content: center;
  min-height: rem(29);
  padding-left: rem(20);
  padding-right: rem(20);

  @include mq(md) {
    min-height: rem(36);
  }
}

.p-footer__copy-text {
  font-size: rem(9);
  line-height: 1.4;
  text-align: center;
  text-shadow: rem(2) rem(2) rem(3) rgba(0, 0, 0, 0.5);

  @include mq(md) {
    font-size: rem(13);
  }
}