@use "../global" as *;

.p-interview-detail {
  background: #fff;
  padding-top: rem(82);
  overflow-x: clip;

  @include mq(md) {
    padding-top: rem(138);
  }
}

.p-interview-detail__hero {
  background: #fff;
  padding-top: rem(24);

  @include mq(md) {
    padding: rem(118) 0 0;
  }
}

.p-interview-detail__heading {
  text-align: center;
  width: fit-content;

  @include mq(md) {
    max-width: rem(1010);
    width: initial;
    margin: 0 auto;
    text-align: left;
  }
}

.p-interview-detail__en {
  font-family: $second-font-family;
  font-size: rem(42);
  font-weight: 400;
  line-height: 1;

  @include mq(md) {
    font-size: rem(100);
  }
}

.p-interview-detail__sub {
  display: inline-block;
  font-size: rem(12);
  font-weight: 500;
  line-height: 1.5;
  margin-top: rem(8);
  padding-top: rem(8);
  position: relative;

  @include mq(md) {
    display: block;
    font-size: rem(25);
    margin-top: rem(14);
    padding-top: rem(18);
    text-align: center;
    width: rem(308);
  }
}

.p-interview-detail__sub::before {
  border-top: rem(3) solid #fe4504;
  content: "";
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: rem(150);

  @include mq(md) {
    left: 0;
    transform: none;
    width: rem(320);
  }
}

.p-interview-detail__hero-body {
  background: radial-gradient(circle at 50% 50%, #fff 0%, #e1edf2 61%, #e1edf2 100%);
  height: rem(363);
  margin: rem(34) auto 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  @include mq(md) {
    background: none;
    display: block;
    margin: rem(30) calc(50% - 50vw) 0;
    max-width: none;
    min-height: rem(420);
    padding: 0 max(rem(20), calc((100vw - #{rem(1000)}) / 2));
    position: relative;
  }
}

.p-interview-detail__hero-body::before {
  @include mq(md) {
    background: radial-gradient(circle at 50% 50%, #fff 0%, #e1edf2 100%);
    content: "";
    height: rem(420);
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100vw;
  }
}

.p-interview-detail__hero-text {
  inset: 0;
  position: absolute;
  z-index: 1;
  max-width: rem(600);
  margin-left: auto;
  margin-right: auto;

  @include mq(md) {
    inset: auto;
    left: max(rem(20), calc((100vw - #{rem(1000)}) / 2));
    position: absolute;
    top: rem(60);
    width: rem(593);
    margin-left: initial;
    max-width: initial;
    margin-right: initial;
    z-index: 1;
  }
}

.p-interview-detail--image-left .p-interview-detail__hero-text {
  @include mq(md) {
    left: rem(601);
    width: rem(642);
  }
}

.p-interview-detail__title {
  font-size: rem(17);
  font-weight: 700;
  left: rem(25);
  letter-spacing: 0.04em;
  line-height: calc(29 / 17);
  position: absolute;
  top: rem(16);

  @include mq(md) {
    font-size: rem(38);
    left: auto;
    letter-spacing: 0.02em;
    line-height: 1.63;
    position: static;
    top: auto;
    width: auto;
  }
}

.p-interview-detail__profile {
  font-size: rem(12);
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: calc(19 / 12);
  margin-top: 0;
  position: absolute;
  right: rem(15);
  top: rem(110);
  width: rem(62);

  @include mq(md) {
    font-size: rem(22);
    line-height: calc(30 / 22);
    margin-top: rem(80);
    position: static;
    width: auto;
  }
}

.p-interview-detail--image-left .p-interview-detail__profile {
  @include mq(md) {
    margin-top: rem(132);
  }
}

.p-interview-detail__profile-space {
  display: none;

  @include mq(md) {
    display: inline;
  }
}

.p-interview-detail__main-image {
  aspect-ratio: 481 / 252;
  bottom: 0;
  left: rem(-203);
  overflow: hidden;
  position: absolute;
  width: rem(481);

  @include mq(md) {
    aspect-ratio: 800 / 420;
    bottom: auto;
    left: auto;
    position: relative;
    margin-left: auto;
    width: rem(800);
    z-index: 0;
  }
}

.p-interview-detail--image-left .p-interview-detail__main-image {
  left: 0;

  @include mq(md) {
    margin-left: calc(max(#{rem(20)}, (100vw - #{rem(1000)}) / 2) * -1);
    margin-right: auto;
  }
}

.p-interview-detail__main-image img {
  display: block;
  height: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: 100%;
}

.p-interview-detail__content {
  padding: rem(24) 0 rem(70);

  @include mq(md) {
    padding: rem(96) 0 rem(118);
  }
}

.p-interview-detail__article {
  max-width: rem(1010);
  margin: 0 auto;
}

.p-interview-detail__section+.p-interview-detail__section,
.p-interview-detail__image+.p-interview-detail__section,
.p-interview-detail__section+.p-interview-detail__image {
  margin-top: rem(38);

  @include mq(md) {
    margin-top: rem(74);
  }
}

.p-interview-detail__question {
  color: #0381f8;
  font-size: rem(18);
  font-weight: 700;
  line-height: 1.65;

  @include mq(md) {
    font-size: rem(26);
    line-height: 1.46;
  }
}

.p-interview-detail__text {
  font-size: rem(13);
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.85;
  margin-top: rem(16);

  @include mq(md) {
    font-size: rem(18);
    line-height: 1.95;
    margin-top: rem(24);
  }
}

.p-interview-detail__text span {
  background: linear-gradient(transparent 58%, #ffe179 58%);
}

.p-interview-detail__image {
  aspect-ratio: 320 / 200;
  overflow: hidden;

  @include mq(md) {
    aspect-ratio: 640 / 400;
    max-width: rem(640);
    margin-left: auto;
    margin-right: auto;
  }
}

.p-interview-detail__image img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.p-interview-detail__image--square {
  aspect-ratio: 1 / 1;

  @include mq(md) {
    max-width: rem(401);
  }
}

.p-interview-detail__cta {
  align-items: center;
  background: #F77423;
  border-radius: 9999px;
  box-shadow: rem(-2) rem(3) rem(6) rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  font-size: rem(14);
  gap: rem(16);
  font-weight: 500;
  height: rem(56);
  justify-content: center;
  margin: rem(54) auto 0;
  max-width: rem(469);
  padding: 0 rem(18);
  position: relative;
  width: 100%;

  @include mq(md) {
    font-size: rem(20);
    height: rem(67);
    margin-top: rem(92);
    gap: rem(24);
  }
}


.p-interview-detail__cta-icon {
  width: rem(22);
  height: rem(22);

  @include mq(md) {

    width: rem(40);
    height: rem(40);
  }
}