@use "../global" as *;

.p-message {
  background: #fff;
  padding-top: rem(82);
  overflow-x: clip;

  @include mq(md) {
    padding-top: rem(138);
  }
}

.p-message__hero {
  background: #fff;
  overflow: hidden;
  padding: rem(28) 0 rem(42);

  @include mq(md) {
    padding: rem(56) 0 0;
  }
}

.p-message__heading {
  margin-left: rem(25);
  width: rem(149);
  text-align: center;

  @include mq(md) {
    max-width: rem(1010);
    margin: 0 auto;
    text-align: left;
    width: auto;
  }
}

.p-message__en {
  font-family: $second-font-family;
  font-size: rem(42);
  font-weight: 400;
  line-height: 1;
  border-bottom: 3px solid #fe4504;
  width: fit-content;

  @include mq(md) {
    font-size: rem(100);
    text-align: center;
    width: rem(295);
  }
}

.p-message__sub {
  display: inline-block;
  font-size: rem(12);
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  margin-top: rem(4);

  @include mq(md) {
    display: block;
    font-size: rem(23);
    line-height: calc(30 / 23);
    margin-top: rem(17);
    text-align: center;
    width: rem(295);
  }
}

.p-message__hero-body {
  background: radial-gradient(circle at 50% 50%, #fff 0%, #e1edf2 61%, #e1edf2 100%);
  height: rem(363);
  margin-top: rem(24);
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  overflow: hidden;
  padding: 0;
  position: relative;

  @include mq(md) {
    max-width: none;
    background: none;
    display: block;
    margin: rem(30) calc(50% - 50vw) 0;
    min-height: rem(420);
    padding: 0 max(rem(20), calc((100vw - #{rem(1000)}) / 2));
    position: relative;
  }
}

.p-message__hero-body::before {
  @include mq(md) {
    background: radial-gradient(circle at 50% 50%, #fff 0%, #e1edf2 100%);
    content: "";
    height: rem(420);
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100vw;
  }
}

.p-message__hero-text {
  inset: 0;
  position: absolute;
  z-index: 1;

  @include mq(md) {
    inset: auto;
    left: max(rem(20), calc((100vw - #{rem(1000)}) / 2));
    position: absolute;
    top: rem(55);
    width: rem(600);
  }
}

.p-message__title {
  font-size: rem(17);
  font-weight: 700;
  left: rem(25);
  letter-spacing: 0.04em;
  line-height: calc(29 / 17);
  position: absolute;
  top: rem(16);
  width: rem(265);

  @include mq(md) {
    font-size: rem(38);
    left: auto;
    letter-spacing: 0.02em;
    line-height: 1.63;
    position: static;
    top: auto;
    width: auto;
  }
}

.p-message__profile {
  font-size: rem(12);
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: calc(19 / 12);
  margin-top: 0;
  position: absolute;
  right: rem(0);
  top: rem(110);
  width: rem(80);

  @include mq(md) {
    font-size: rem(22);
    line-height: calc(26 / 22);
    margin-top: rem(168);
    position: static;
    width: auto;
  }
}

.p-message__main-image {
  aspect-ratio: 494 / 259;
  bottom: 0;
  left: rem(-150);
  overflow: visible;
  position: absolute;
  width: rem(494);

  @include mq(md) {
    aspect-ratio: 800 / 420;
    bottom: 0;
    left: auto;
    margin: 0;
    position: absolute;
    right: max(rem(20), calc((100vw - #{rem(1046)}) / 2));
    width: rem(800);
    z-index: 0;
  }
}

.p-message__main-image img {
  display: block;
  height: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: 100%;
}

.p-message__content {
  padding: rem(42) 0 rem(64);
  padding-top: initial;

  @include mq(md) {
    padding: rem(96) 0 rem(112);
  }
}

.p-message__article {
  margin: 0 auto;
  max-width: rem(1010);
  padding-left: rem(12);
  padding-right: rem(12);

  @include mq(md) {
    padding-left: initial;
    padding-right: initial;

  }
}

.p-message__section+.p-message__section,
.p-message__image+.p-message__section,
.p-message__section+.p-message__image {
  margin-top: rem(38);

  @include mq(md) {
    margin-top: rem(74);
  }
}

.p-message__section-title {
  color: #0381f8;
  font-size: rem(18);
  font-weight: 700;
  line-height: 1.65;

  @include mq(md) {
    font-size: rem(26);
    line-height: 1.46;
  }
}

.p-message__text {
  font-size: rem(13);
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.85;

  @include mq(md) {
    font-size: rem(18);
    line-height: 1.95;
  }
}

.p-message__section-title+.p-message__text,
.p-message__text+.p-message__text {
  margin-top: rem(16);

  @include mq(md) {
    margin-top: rem(24);
  }
}

.p-message__image {
  aspect-ratio: 320 / 200;
  overflow: hidden;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  @include mq(md) {
    aspect-ratio: 640 / 400;
    max-width: rem(640);
    margin-left: auto;
    margin-right: auto;
    width: initial;
  }
}

.p-message__image img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.p-message__philosophy {
  background: #f2f1e9;
  padding: rem(54) 0 rem(64);

  @include mq(md) {
    padding: rem(110) 0 rem(112);
  }
}

.p-message__philosophy-inner {
  margin: 0 auto;
  max-width: rem(1010);
  text-align: center;
}

.p-message__philosophy-title {
  font-size: rem(24);
  font-weight: 700;
  line-height: 1.5;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid #FE4504;

  @include mq(md) {
    font-size: rem(35);
  }
}

.p-message__philosophy-lead {
  font-size: rem(17);
  font-weight: 600;
  line-height: 1.85;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(18);
  text-align: left;

  @include mq(md) {
    font-size: rem(22);
    font-weight: 500;
    line-height: 1.75;
    margin-top: rem(28);
    max-width: rem(900);
    text-align: left;
  }
}

.p-message__philosophy-layout {
  display: flex;
  flex-direction: column;
  gap: rem(34);
  margin-top: rem(30);

  @include mq(md) {
    align-items: flex-start;
    display: grid;
    gap: rem(60);
    grid-template-columns: rem(540) rem(408);
    justify-content: space-between;
    margin-top: rem(70);
  }
}

.p-message__philosophy-text {
  text-align: left;
}

.p-message__philosophy-image {
  margin: 0 auto;
  max-width: rem(300);
  order: 2;

  @include mq(md) {
    margin: rem(-8) 0 0;
    max-width: rem(408);
    order: initial;
  }
}

.p-message__philosophy-image img {
  display: block;
  height: auto;
  width: 100%;
}

.p-message__philosophy-subtitle {
  font-size: rem(22);
  font-weight: 700;
  line-height: 1.45;
  text-align: left;

  @include mq(md) {
    font-size: rem(30);
    line-height: 1;
  }
}

.p-message__philosophy-body {
  margin-top: rem(18);
  text-align: left;

  @include mq(md) {
    margin-top: rem(28);
  }
}

.p-message__philosophy-body .p-message__text:first-child {
  @include mq(md) {
    font-size: rem(23);
    line-height: 1.52;
  }
}

.p-message__meeting {
  background: radial-gradient(circle at 50% 50%, #fff 0%, #e1edf2 61%, #e1edf2 100%);
  padding: rem(58) 0 rem(76);

  @include mq(md) {
    padding: rem(100) 0 rem(120);
  }
}

.p-message__meeting-image {
  aspect-ratio: 320 / 200;
  margin: 0 auto;
  max-width: rem(640);
  position: relative;
}

.p-message__meeting-image img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.p-message__meeting-caption {
  font-weight: 500;
  max-width: rem(640);
  font-size: rem(12);
  margin-top: rem(8);
  color: #000;
  margin-left: auto;
  margin-right: auto;

  @include mq(md) {
    font-size: rem(14);
    margin-top: rem(10);
  }
}

.p-message__cta {
  align-items: center;
  background: #F77423;
  border-radius: rem(999);
  box-shadow: rem(-2) rem(3) rem(6) rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  font-size: rem(14);
  font-weight: 500;
  height: rem(56);
  align-items: center;
  justify-content: center;
  margin: rem(48) auto 0;
  max-width: rem(469);
  position: relative;
  width: 100%;
  gap: rem(16);
  margin-top: initial;

  @include mq(md) {
    font-size: rem(20);
    height: rem(67);
    gap: rem(32);
  }
}


.p-message__cta-wrapper {
  padding-top: rem(32);
  padding-bottom: rem(64);

  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.p-message__cta-text {
  font-size: rem(14);
  font-weight: 500;
  line-height: 1.4;
  color: #fff;

  @include mq(md) {
    font-size: rem(20);
  }
}

.p-message__cta-icon {
  width: rem(22);
  height: rem(22);

  @include mq(md) {
    width: rem(40);
    height: rem(40);
  }
}
