@use "../global" as *;

.p-mv {
  overflow-x: clip;
  padding-top: rem(109);
}

.p-mv__content {
  position: relative;
}

.p-mv__img {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.p-mv__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.p-mv__title {
  color: #fff;
  font-family: "Futura", $base-font-family;
  font-size: rem(24);
  font-weight: 700;
  left: rem(20);
  letter-spacing: 0.45em;
  line-height: 1.7;
  position: absolute;
  top: rem(120);

  @include mq(md) {
    font-size: rem(35);
    left: rem(82);
    letter-spacing: 0.6em;
    line-height: calc(60 / 35);
    top: rem(282);
  }

}

.p-mv__logo {
  max-width: rem(904);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: rem(20);
  z-index: 2;
}

.p-mv__logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
