@use "../global" as *;

.p-top-career {
  background-color: #F2F1E9;
  padding-top: rem(72);
  padding-bottom: rem(48);
  overflow-x: clip;

  @include mq(md) {
    padding-top: rem(59);
    padding-bottom: rem(64);
  }
}

.p-top-career__content {
  max-width: rem(1000);
  margin-left: auto;
  margin-right: auto;
}

.p-top-career__body {
  display: flex;
  flex-direction: column-reverse;

  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.p-top-career__image {
  margin-top: rem(46);
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  @include mq(md) {
    max-width: rem(500);
    margin-top: initial;
    width: 100%;
    margin-left: initial;
    margin-right: initial;
  }
}

.p-top-career__image img {
  display: block;
  height: auto;
  width: 100%;
}

.p-top-career__text {

  @include mq(md) {
    max-width: rem(405);
    width: 100%;
  }
}

.p-top-career__heading {
  padding-top: rem(20);
  position: relative;
  text-align: center;


}



.p-top-career__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: rem(52);
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1;
  border-bottom: 3px solid #f77423;
  display: inline-block;

  @include mq(md) {
    font-size: rem(72);
  }
}

.p-top-career__sub-title {
  font-size: rem(14);
  font-weight: 500;
  line-height: 1.5;
  margin-top: rem(10);
  text-align: center;

  @include mq(md) {
    font-size: rem(22);
  }
}

.p-top-career__catch {
  font-size: rem(20);
  font-weight: 600;
  line-height: 1.6;
  margin-top: rem(32);
  text-align: center;

  @include mq(md) {
    font-size: rem(22);
    line-height: 1.6;
    margin-top: rem(39);
    text-align: left;
  }
}

.p-top-career__more-wrap {
  display: flex;
  justify-content: center;
  margin-top: rem(32);

  @include mq(md) {
    margin-top: rem(45);
  }
}

.p-top-career__more {
  align-items: center;
  background-color: #fff;
  border: rem(1.2) solid #000;
  border-radius: rem(24);
  color: #000;
  display: inline-flex;
  height: rem(40);
  justify-content: center;
  padding-left: rem(34);
  padding-right: rem(8);
  width: rem(180);
  @include mq(md){
   width: rem(220); 
  }
}

.p-top-career__more-text {
  font-size: rem(12.5);
  font-weight: 500;
  line-height: 1;
}

.p-top-career__more-icon {
  background-color: #000;
  border-radius: 50%;
  display: block;
  height: rem(27);
  margin-left: rem(18);
  position: relative;
  width: rem(27);
}

.p-top-career__more-icon::before {
  border-right: rem(1.5) solid #fff;
  border-top: rem(1.5) solid #fff;
  content: "";
  height: rem(7);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-65%, -50%) rotate(45deg);
  width: rem(7);
}

.p-top-career__more-icon::after {
  background-color: #fff;
  content: "";
  height: rem(1.5);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-55%, -50%);
  width: rem(10);
}

.p-top-career__button-wrap {
  display: flex;
  justify-content: center;
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(62);
  }
}

.p-top-career__button {
  align-items: center;
  background-color: #476ed6;
  border-radius: 9999px;
  box-shadow: rem(-2) rem(3) rem(6) rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: rem(36);
  position: relative;

  @include mq(md) {
    max-width: rem(469);
    min-height: rem(67);
  }
}

.p-top-career__button-text {
  font-size: rem(12);
  font-weight: 500;
  line-height: 1.4;

  @include mq(md) {
    font-size: rem(20);
  }
}

.p-top-career__button-icon {
  position: absolute;
  right: rem(12);
  top: 50%;
  transform: translateY(-50%);
  width: rem(22);
  height: rem(22);
  @include mq(md) {
    width: rem(41);
    height: rem(41);
    right: rem(20);
  }
}
