@use "../global" as *;

.p-top-text {
  padding-top: rem(64);
  padding-bottom: rem(64);

  @include mq(md) {
    padding-top: rem(96);
    padding-bottom: rem(96);
  }
}

.p-top-text__content {
  max-width: rem(762);
  margin-left: auto;
  margin-right: auto;
}

.p-top-text__title {
  color: #005dc9;
  font-size: rem(24);
  font-weight: 700;
  line-height: 1.5;
  text-align: center;

  @include mq(md) {
    font-size: rem(40);
  }
}

.p-top-text__line {
  display: block;
}
